html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
}

img {
  cursor: pointer;
  position: absolute;
}

#official-bomb {
  position: static;
}

#big {
  top: 35px;
  left: 225px;
}

#down-south {
  left: -135px;
  top: 40px;
  transform: rotate(-10deg);
}

#down {
  top: 155px;
  left: 180px;
}

#exackly {
  top: 205px;
  left: 125px;
  transform: rotate(10deg);
}

#finger {
  top: -35px;
  left: 200px;
  transform: rotate(30deg);
}

#heavy-hit {
  top: 200px;
  left: 5px;
  transform: rotate(-15deg);
}

#horn {
  top: -65px;
  left: 120px;
}

#hustle {
  top: -55px;
  left: 10px;
  transform: rotate(-15deg);
}

#issues {
  top: -15px;
  left: -100px;
  transform: rotate(15deg);
}

#lets-go {
  top: 100px;
  left: -110px;
  transform: rotate(-15deg);
}

#understand-that {
  top: 170px;
  left: -110px;
  transform: rotate(10deg);
}

#up {
  top: 100px;
  left: 200px;
  transform: rotate(-15deg);
}
